﻿.index-header {
    display: flex;
    justify-content: space-between;
}

.index-header .client-filter {
    width: 17rem;
}

.index-header .new-content-btn {
    padding-top: 2rem;
    height: 3rem;
}

.index-header .client-filter .dp-inputs {
    height: 5.625rem;
}

.index-header .all-contents {
    font-family: proximanova-semibold, sans-serif;
    font-size: 1rem;
    vertical-align: text-top;
    height: 5.625rem;
    padding-top: 2.813rem;
}

.msg-with-header .content-section {
    max-width: unset;
    padding: 0 0 0.75rem;
}