<SfDialog Width="90%"
          Height="90%"
          CssClass="dp-dialog" 
          IsModal="true" 
          AllowDragging="true" 
          EnableResize="false"
          @bind-Visible="Visible">
    <DialogTemplates>
        <Header>Hedge Document</Header>
        <Content>
            <div class="max-h-[400px] overflow-y-auto p-4 border border-gray-200 rounded-md bg-gray-100">
                @if (!string.IsNullOrWhiteSpace(HedgeDocumentContent))
                {
                    <div class="leading-relaxed text-gray-900 [&>p]:mb-4 [&>p:last-child]:mb-0">
                        @((MarkupString)(HedgeDocumentContent))
                    </div>
                }
                else
                {
                    <div class="text-center p-8">
                        <p class="text-gray-500">No hedge document content available.</p>
                    </div>
                }
            </div>
        </Content>
        <FooterTemplate>
            <div class="flex flex-row justify-end pt-[25px]">
                <div class="dp-buttons">
                    <SfButton CssClass="button-secondary button-default"
                              Content="Close"
                              OnClick="@HandleClose"
                              IsPrimary="false" />
                </div>
            </div>
        </FooterTemplate>
    </DialogTemplates>
    <DialogPositionData X="center" Y="center"></DialogPositionData>
</SfDialog>
