<style>
    .ngdialog.ngdialog-theme-default.custom-height-800 .ngdialog-content {
        height: 800px;
    }
    .ngdialog.ngdialog-theme-custom .ngDialogTitleRow span{
        text-transform: none;
    }
</style>

<script type="text/ng-template" id="hedgeDocumentObjectiveTemplate">
    <div class="row form-group" >
        <div class="col-xs-12 hedgeobjectiveDivContainer" style="display: flex; padding: 20px 28px; align-items:
          flex-start; gap: 8px; flex: 1 0 0; align-self: stretch; background: #FFF; border: solid 1px #3E3F46; ">
            <span style="width: 100%; min-height: 546px" data-ng-bind-html="Model.Objective | unsafe"></span>
        </div>
    </div>
</script>
