@page "/login"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]
@model DerivativeEDGE.HedgeAccounting.UI.Pages.LoginModel
<p>
    Ensure that the Reverse Proxy is running, then go to <a href="https://localhost:7266/hedgeaccountingapp">https://localhost:7266/hedgeaccountingapp</a>
</p>
@{
}
