@page "/test-connection"

<SetPageTitle Title="Test Connection To Hedge Accounting API" />

<button @onclick="TriggerApi" class="btn btn-info">Trigger API</button>
<br />
<p>
    API Response: @apiResponse
</p>