@if (HedgeRelationship != null)
{
    <div class="accounting-details-container">
        <div class="dp-inputs" style="width: 15rem;">
            <span class="input-label">Standard</span>
            <SfDropDownList CssClass="dropdown-input"
                            Enabled="true"
                            TItem="DropdownModel"
                            TValue="DerivativeEDGEHAEntityEnumStandard"
                            PopupHeight="100px"
                            Placeholder="Standard"
                            @bind-Value="@HedgeRelationship.Standard"
                            DataSource="@DropdownDataHelper.GetDropdownDatasource("standard")">
                <DropDownListEvents TItem="DropdownModel" TValue="DerivativeEDGEHAEntityEnumStandard" />
                <DropDownListFieldSettings Text="Text" Value="Value" />
            </SfDropDownList>
        </div>
        <div class="dp-inputs">
            <SfCheckBox CssClass="input-checkbox"
                        @bind-Checked="@HedgeRelationship.TaxPurposes"
                        Label="Hedge for Tax Purposes" />
        </div>
    </div>
}