<div class="accounting-details-container">
    <div class="dp-inputs" style="width: 15rem;">
        <span class="input-label">Standard</span>
        <SfDropDownList CssClass="dropdown-input"
                        Enabled="true"
                        TItem="StandardOption"
                        TValue="string"
                        PopupHeight="100px"
                        Placeholder="Standard"
                        @bind-Value="@SelectedStandardValue"
                        DataSource="@StandardOptions">
            <DropDownListEvents TItem="StandardOption" TValue="string" />
            <DropDownListFieldSettings Text="Text" Value="ID" />
        </SfDropDownList>
    </div>
    <div class="dp-inputs">
        <SfCheckBox CssClass="input-checkbox"
                    @bind-Checked="IsChecked"
                    Label="Hedge for Tax Purposes" />
    </div>
</div>

@code {

}