@inherits LayoutComponentBase

<PageTitle>Create Template</PageTitle>
<DpToast XPosition="Right" YPosition="Top" />

<div>
    @Body
</div>
<Spinner />
@code {

    public string Title { get; set; } = string.Empty;
    public async Task Refresh()
    {
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}

