<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Add the AWS CodeArtifact NuGet feed as a package source -->
    <add key="derivativepath" value="https://derivativepath-777791839250.d.codeartifact.us-west-2.amazonaws.com/nuget/nuget/v3/index.json" />
    <!-- Add other package sources if needed -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <!-- AWS CodeArtifact authentication -->
    <derivativepath>
      <add key="Username" value="aws" />
	  <add key="ClearTextPassword" value="$CODEARTIFACT_AUTH_TOKEN" />
    </derivativepath>
  </packageSourceCredentials>
</configuration>
